*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container {
    height: 200px;
    width: 200px;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
}

.container h1 {
    color: white;
}

.container button {
    outline: none;
    padding: 5px 20px;
    border-radius: 6px;
    background: red;
    border: none;
    color: white;
}